[Unit]
Description=Docker Container - Unbound DNS Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
TimeoutStartSec=0
SuccessExitStatus=137

ExecStartPre=-/usr/bin/docker run -idt --name unbound -h unbound.finalduty.me -p 53:53/udp finalduty/unbound
ExecStart=/usr/bin/docker start -a unbound

ExecStop=/usr/bin/docker stop -t 2 unbound
ExecStopPost=-/usr/bin/docker rm -f unbound

[Install]
WantedBy=multi-user.target
